/* asosiy stillar */
body {
    background-color: rgba(80, 79, 129, 0.616);
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(32, 16, 4, 0.719);
}

.main-header__logo{
    display: inline-block;
    vertical-align: middle;
}

.main-header__logo img{
    width: 60px;
    margin: 5px;
    border-radius: 50%;
}

.main-header__logo h2 {
    color: rgb(211, 202, 193);
    display: inline-block;
    margin: 5px;

}

.main-navigation {
    display: inline-block;
    vertical-align: middle;
    
}

.main-navigation-item {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.main-navigation-item a {
    color: rgb(138, 173, 204);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}

.main-navigation-item a:hover{
    color: black;
}

.main-navigation-item.active a{
    color: black;
}

.katta_harf {
    text-transform: uppercase;
}

.text-dec__none {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/* about-me section */

.about-me {
    padding: 100px 30px 10px 30px;
}

.about-me > div {
    width: 50%;
    float: left;
}


.about-me__image img {
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 50%;
}

.about-me__info {
    padding-top: 50px;
}

.about-me__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    line-height: 10px;
    color: rgba(23, 37, 28, 0.836);
}

.about-me__introduction {
    margin-top: 15px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(27, 8, 17, 0.514);
}

.about-me__position {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(2, 6, 8);
}

.about-me__description {
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 1px;
    line-height: 24px;
    max-width: 400px;
    color: rgba(13, 13, 14, 0.863);
}

/* information section */

.information-section {
    padding: 10px 50px 100px 50px;
}

.information-section > div {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    padding: 40px 30px;
    border-radius: 50%;
}
.resume-link {
    background-color: rgb(9, 50, 73);
    min-width: 80px;
}

.color-info-item {
    color: rgb(226, 217, 217);
    font-size: 24px;
}

/* footer */

.footer-section {
    background-color: rgba(32, 16, 4, 0.719);
    color: white;             
    padding: 50px 0;
}

.footer-items::after {
    content: "";
    display: table;
    clear: both;
}

.footer-items > div {
    width: 30%;
    float: left;
    padding-left: 30px;
    color: rgba(243, 221, 221, 0.767);
}

.footer-item h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.footer-item p {
    margin: 20px 0;
}

.footer-item > a {
    color: azure;
    padding-left: 10px;
    font-size: 20px;
}